quests/02_action_nodes_edit.json.json
{
  "name": "02_action_nodes_edit.json",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4a5d61ea-2c9e-43e4-91f2-7090f42e70a3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "20652739-32da-4ed0-8604-eb4aad411dda",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b45fff0-c98d-4c87-8dd1-409c98140705",
              "name": "유저아이디",
              "value": "={{ $json.userId }}",
              "type": "number"
            },
            {
              "id": "025efe23-f3d4-4235-ae38-534a8a5142df",
              "name": "타이틀",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "63150b38-c445-4d08-b4d3-16e18235cc59",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa4ced27-225d-4d9e-8b45-b8fc57237259",
  "meta": {
    "instanceId": "b58833f0af2a25b25207d4561a8fbf9fd21bbd975d646b4d3b4d9da823e096ce"
  },
  "id": "10NxCfUQX3wkVIPp",
  "tags": []
}