quests/07_Storage_GoogleSheets_loop.json.json
{
  "name": "07_Storage_GoogleSheets_loop.json",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        -112
      ],
      "id": "d55acb07-7e10-49e5-9a8c-f6f4f11d7cbf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TCxnyNHirQ9Xin4BsDWzKndr9PzjZB3tOw2mr6IHWnc/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TCxnyNHirQ9Xin4BsDWzKndr9PzjZB3tOw2mr6IHWnc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -112
      ],
      "id": "c3232753-c989-4fac-8c7d-b457058749c3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A4scst2R1Fd9PV7u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        96
      ],
      "id": "17d3b30c-32fc-43d8-be4f-1ec325efac7f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json['분석 뉴스 기사 URL'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        112
      ],
      "id": "b0eb0e7a-29d6-4264-9536-98ca2ad7ef59",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI",
          "mode": "list",
          "cachedResultName": "Member_informations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        352
      ],
      "id": "a6589124-49b9-425c-9872-4bd9df5bce18",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A4scst2R1Fd9PV7u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "google Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        128,
        352
      ],
      "id": "b2ec6939-8cf8-47f8-af68-84ac91113911",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d9d34c8-6e40-4375-be07-39ad8096c289",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "974200e6-df6b-468a-9c11-9f51a393924c",
              "name": "key_value",
              "value": "={{ $('Schedule Trigger').item.json.timestamp }}{{ $('Schedule Trigger').item.json['Readable time'] }}",
              "type": "string"
            },
            {
              "id": "e6801d62-b8dc-4b88-a38e-a0e2f1167834",
              "name": "URI",
              "value": "={{ $('Get row(s) in sheet').item.json['분석 뉴스 기사 URL'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        112
      ],
      "id": "b557460a-8701-49da-84b6-0831914a591d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TCxnyNHirQ9Xin4BsDWzKndr9PzjZB3tOw2mr6IHWnc/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TCxnyNHirQ9Xin4BsDWzKndr9PzjZB3tOw2mr6IHWnc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "분석 뉴스 기사 URL": "={{ $json.URI }}",
            "key_valve": "={{ $json.key_value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "분석 뉴스 기사 URL",
              "displayName": "분석 뉴스 기사 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key_valve",
              "displayName": "key_valve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "기사요약",
              "displayName": "기사요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "대량 발송 여부",
              "displayName": "대량 발송 여부",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        112
      ],
      "id": "8e961c21-ab44-47b7-9065-aa6b2a9ce94d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A4scst2R1Fd9PV7u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 정리의 신이야.\n정리 대상 기사를 읽고 3개의 링크에있는 뉴스를 종합해서 정리해줘\n형식을 지켜줘\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n\n[정리 대상 기사]\n{{ $json[\"분석 뉴스 기사 URL\"] }}\n\n**[출력 예시 구조 - JSON]**\n{\n  \"기사 요약\": TEXT,\n  \"한줄평\": TEXT\n}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        784,
        112
      ],
      "id": "4e7fa0d8-e4f6-4c41-874e-f91a67916723",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "gNw7sbDLqNOhYA1L",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ac343ff-80b8-4762-acf6-6f94bd422719",
              "name": "text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        112
      ],
      "id": "0f695f87-20bd-4191-b09a-b77af5ec98ce",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TCxnyNHirQ9Xin4BsDWzKndr9PzjZB3tOw2mr6IHWnc",
          "mode": "list",
          "cachedResultName": "news_details_uri 이용기",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TCxnyNHirQ9Xin4BsDWzKndr9PzjZB3tOw2mr6IHWnc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TCxnyNHirQ9Xin4BsDWzKndr9PzjZB3tOw2mr6IHWnc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "기사요약": "={{ $json.text['기사 요약'] }}",
            "한줄평": "={{ $json.text['한줄평'] }}",
            "key_valve": "={{ $('Append row in sheet').item.json.key_valve }}"
          },
          "matchingColumns": [
            "key_valve"
          ],
          "schema": [
            {
              "id": "분석 뉴스 기사 URL",
              "displayName": "분석 뉴스 기사 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key_valve",
              "displayName": "key_valve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "기사요약",
              "displayName": "기사요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "대량 발송 여부",
              "displayName": "대량 발송 여부",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        112
      ],
      "id": "60315984-3668-41ef-9cb7-db32284bee34",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A4scst2R1Fd9PV7u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6998903403",
        "text": "={{ $json['기사요약'] }}{{ $json['한줄평'] }}{{ $json.key_valve }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        112
      ],
      "id": "20f07fd1-4f97-42c5-bdc2-eb9ac2052f56",
      "name": "Send a text message",
      "webhookId": "c698e29d-f442-4e18-bc9e-5f0043929ebc",
      "credentials": {
        "telegramApi": {
          "id": "58YuoqeOJPRqbQVx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"google Email\"].join(\",\") }}",
        "subject": "테스트] n8n 컬럼 테스트",
        "message": "테스트] n8n 컬럼 테스트",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        352
      ],
      "id": "c81ce7e3-38a4-427d-9a8a-86570cb31214",
      "name": "Send a message",
      "webhookId": "114892c3-9049-4e78-9fc2-e9403caa1597",
      "credentials": {
        "gmailOAuth2": {
          "id": "ifkEbsJ8pFCdtGvC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        352
      ],
      "id": "a36d3e5f-281f-47b0-92af-d439dbc8384a",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A4scst2R1Fd9PV7u",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f904aff-a632-4b36-8037-334fb2d5d14e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be26a17ab902861eb587c340dc085ae5e45bee28ee2c1bd68780aff8c51b4b89"
  },
  "id": "NypbhY3hzlmRuxaZ",
  "tags": []
}