quests/13_Controls_switchs_Files.json.json
{
  "name": "13_Controls_switchs_Files.json",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7fee90e6-bd1d-4ba8-9164-5d2425166ce5",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "572b9c8f-c251-4aa7-b097-59062259dcb1",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9e587ab-48eb-450d-bd04-a3fbc04db5d6",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a3fa3819-c016-4887-a5cf-9ac7534b8f4b",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4694ed8e-778c-421b-a921-b83b8daaaa9d",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4350d56d-0cb5-4fa3-ada6-d53d0a4529b5",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d1db1246-1c99-4080-8845-df28aef7486e",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/vnd.google.colaboratory",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71950b88-696f-47a5-ae91-c6b499ede299",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        -112
      ],
      "id": "47516ac5-7251-43f8-bce4-fd36050e574a",
      "name": "Switch"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1gzEnjr32UPgvZcDG2qeDMvG5qI-CdcyI",
          "mode": "list",
          "cachedResultName": "triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gzEnjr32UPgvZcDG2qeDMvG5qI-CdcyI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -32
      ],
      "id": "fdda0a59-ddf1-47f5-bf3b-3aea53d5d56b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        -32
      ],
      "id": "6bf91a13-4fcd-4fc2-aefb-0373a0a27c69",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        416,
        -480
      ],
      "id": "33ecdf58-4a03-4523-b841-9ba2de390cd9",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z7FxInMDc1xM62vk",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uOa_EH-7I_s4bsn9PAdMqRtyEFF5UNvtFTNMGvhNrYI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -272
      ],
      "id": "e1aa99f9-8d2c-4cf3-a9ed-e6d62a097c04",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        -272
      ],
      "id": "f5a5ef99-bb5c-495d-9bbe-2b12e6d2fbcf",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=정보를 분석 해줘 \n- 한 줄로 정리\n\n[대상 정보]\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        848,
        -64
      ],
      "id": "83201143-399b-4c02-98d4-150e50b3580e",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "rZxWXNljjqafJqQY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=정보를 분석 해줘 \n- 한 줄로 정리\n\n[대상 정보]\n{{ $json.content }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        832,
        -480
      ],
      "id": "47331c4b-b329-41a5-865c-11fef6fe2d37",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rZxWXNljjqafJqQY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=정보를 분석 해줘 \n- 한 줄로 정리\n\n[대상 정보]\n\n{{ $json.data_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1184,
        -272
      ],
      "id": "fda97a20-bdbf-41d8-bb54-b3a709809b45",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "rZxWXNljjqafJqQY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=정보를 분석 해줘 \n- 한 줄로 정리\n\n[대상 정보]\n{{ $json.data_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        160
      ],
      "id": "d2ae5019-2c0b-49c9-9efd-138eab8862c4",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "rZxWXNljjqafJqQY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 176285384,
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit#gid=176285384"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -480
      ],
      "id": "1e19380c-b125-4866-a03d-1b5fe5ee9e3f",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1256134817,
          "mode": "list",
          "cachedResultName": "sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit#gid=1256134817"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        -272
      ],
      "id": "2bb1afa3-6d3a-4da6-bae8-18deabb69ece",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 661976167,
          "mode": "list",
          "cachedResultName": "csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit#gid=661976167"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webContentLink }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        160
      ],
      "id": "4a18769f-4996-4794-b5f8-bcd44ec2b0d8",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2129028552,
          "mode": "list",
          "cachedResultName": "pdfs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit#gid=2129028552"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -64
      ],
      "id": "23f0ed52-d24f-4f65-a68f-9f2ce4d01f80",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025-10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "=",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.modifiedTime }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        416
      ],
      "id": "6685aaac-454b-4256-9ae6-f60fa418fbf3",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db9ff4cc-3d0a-4cab-ac41-743df8fe0e29",
              "name": "data_key",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        160
      ],
      "id": "fd17f137-d260-4f3e-b9c9-91a33c138bde",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        160
      ],
      "id": "473c17a3-d0c5-4765-beed-5bcadc7898d4",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        160
      ],
      "id": "9224bd7e-ffd0-4c85-a419-06ee03d1ea70",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        -64
      ],
      "id": "6852d6f9-3f19-49b7-8767-574409d8faf1",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        416
      ],
      "id": "f8b97b79-6706-4b63-b720-ba9c4ca9e4e2",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=정보를 분석 해줘 \n- 한 줄로 정리\n\n[대상 정보]\n{{ $json.data_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        416
      ],
      "id": "cfe97f19-289d-4d8f-8cb3-5036644abc1a",
      "name": "Message a model4",
      "credentials": {
        "googlePalmApi": {
          "id": "rZxWXNljjqafJqQY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        640
      ],
      "id": "1d1534cf-2010-4b1b-8b57-951595538f9d",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=정보를 분석 해줘 \n- 한 줄로 정리\n\n[대상 정보]\n{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        688,
        640
      ],
      "id": "4be8c679-6d4d-42b8-ba33-21bd5c56833f",
      "name": "Message a model5",
      "credentials": {
        "googlePalmApi": {
          "id": "rZxWXNljjqafJqQY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 949130378,
          "mode": "list",
          "cachedResultName": "culture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit#gid=949130378"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webContentLink }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        800
      ],
      "id": "0a9cba6a-c2bb-4f5a-a491-4e6cfe772705",
      "name": "Append or update row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        832
      ],
      "id": "141dd794-5153-4fb6-9295-859db60c97ba",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=정보를 분석 해줘 \n- 한 줄로 정리\n[정리 대상]\n{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        688,
        832
      ],
      "id": "c1135e6b-534a-46db-9e9d-16b1c625c5de",
      "name": "Message a model6",
      "credentials": {
        "googlePalmApi": {
          "id": "rZxWXNljjqafJqQY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1_9nUEjqV2SOZMqjYpnUUM2Y37h9E1DcW",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_9nUEjqV2SOZMqjYpnUUM2Y37h9E1DcW"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1552,
        -480
      ],
      "id": "3e5b68bf-4794-40d9-a5f9-1c0845899b2a",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1SmkZj1BoM_D7kOrFtu07QP-_aXCtOX6Y",
          "mode": "list",
          "cachedResultName": "sheets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SmkZj1BoM_D7kOrFtu07QP-_aXCtOX6Y"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        -272
      ],
      "id": "98eac664-bb85-4634-80f3-fccb3d3e3eba",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-1kbqttrq4bPPq_c2RCee0Bpx8GZYu8O",
          "mode": "list",
          "cachedResultName": "csv",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-1kbqttrq4bPPq_c2RCee0Bpx8GZYu8O"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        160
      ],
      "id": "dc65b0f9-ed68-4810-8426-16e3c91047e3",
      "name": "Move file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "12Q22kHxbjoVSSbWcF4huHgKkwU6hiXTb",
          "mode": "list",
          "cachedResultName": "pdfs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12Q22kHxbjoVSSbWcF4huHgKkwU6hiXTb"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1696,
        -64
      ],
      "id": "d02742cd-af08-46af-8699-1281831280a7",
      "name": "Move file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1BWijtlGSzN7ycmaucEG-SHRzquU4kxaE",
          "mode": "list",
          "cachedResultName": "etcs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BWijtlGSzN7ycmaucEG-SHRzquU4kxaE"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        416
      ],
      "id": "91a0c366-f9a9-422e-8992-93a065df4eca",
      "name": "Move file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1PxNm9HN1Pd6YQVvaxTBs3Vy0WlOoZoMo",
          "mode": "list",
          "cachedResultName": "culture",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PxNm9HN1Pd6YQVvaxTBs3Vy0WlOoZoMo"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2272,
        800
      ],
      "id": "61b71de7-d6c2-44d3-bf34-ccca29a547c6",
      "name": "Move file6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32cb3e5e-037c-44bd-a05c-98bd3810064a",
              "name": "data_key",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -272
      ],
      "id": "bb3f0a6f-4042-4323-a9c6-529f3892a559",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e0a3b5c-e4f8-403f-b6dd-c567880e6cd0",
              "name": "data_key",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        416
      ],
      "id": "64e889c7-854a-4b22-8ae9-b523265913c6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        416
      ],
      "id": "89e030bc-7f47-465a-b0a6-596c116dc5ff",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
                    "rightValue": "news_culture_02.md의 사본",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "166630d5-cd5c-49a3-8e2d-862a7fa9f7ea"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e982173-e2d6-4d65-abc9-fd44eb07839c",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
                    "rightValue": "news_politics_03.md의 사본",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a438f75-edd3-4e7d-8afc-8525e395bca8",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
                    "rightValue": "news_economy_02.md의 사본",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a9716566-c69d-4a55-a7a9-8c52977109ff",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
                    "rightValue": "news_economy_03.md의 사본",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3da96e34-0a9a-45bb-a342-caba47a68f7b",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
                    "rightValue": "news_politics_02.md의 사본",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f218fde-9d26-45d3-b27c-a439bd46d5bf",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
                    "rightValue": "news_politics_01.md의 사본",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47056677-6e33-4723-a8d9-e7b21281a03e",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
                    "rightValue": "news_economy_01.md의 사본",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bbcf218d-e594-4123-bb7e-93e453759013",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.name }}",
                    "rightValue": "news_culture_01.md의 사본",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1392,
        800
      ],
      "id": "bd512fd6-78af-4a38-87b7-1ce51f00f8d6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 94795164,
          "mode": "list",
          "cachedResultName": "economy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit#gid=94795164"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.modifiedTime }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        1168
      ],
      "id": "8e08be95-bfe6-4258-bc6c-384697067a60",
      "name": "Append or update row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KsX6aEVwa50md4FAa-ArUupFL4rCvvIs",
          "mode": "list",
          "cachedResultName": "economy",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KsX6aEVwa50md4FAa-ArUupFL4rCvvIs"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2272,
        1168
      ],
      "id": "fadab839-cfff-4bcf-81ad-ebdd1f704309",
      "name": "Move file7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 611679333,
          "mode": "list",
          "cachedResultName": "politics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lkKidarObb3oHpzcolFJA2QtC1n-IwZEzlWZrYSeoh0/edit#gid=611679333"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        976
      ],
      "id": "6c0e96ba-4764-47d1-b946-61328ed053a3",
      "name": "Append or update row in sheet8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHhdRkmTrR78qKO3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1braHbetd_B7oqqRWM-uuiDc05olrbHP6",
          "mode": "list",
          "cachedResultName": "politics",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1braHbetd_B7oqqRWM-uuiDc05olrbHP6"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2272,
        976
      ],
      "id": "e3880b14-28b3-4252-9247-62cad6e6f9f6",
      "name": "Move file8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1Q6UZy2Coljzyj0e",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c72c340-d2ba-46bb-93fe-d5e48c29d151",
              "name": "content.parts[0].text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        832
      ],
      "id": "21ae6e88-edea-4aa1-a372-1e309ca3e7a7",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "node": "Move file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Message a model6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model6": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Move file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "node": "Move file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet6": {
      "main": [
        [
          {
            "node": "Move file6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet7": {
      "main": [
        [
          {
            "node": "Move file7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet8": {
      "main": [
        [
          {
            "node": "Move file8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "294ead4d-d955-4acd-a7c0-0567826f1b3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be26a17ab902861eb587c340dc085ae5e45bee28ee2c1bd68780aff8c51b4b89"
  },
  "id": "DV4UeneIHz9NqDwd",
  "tags": []
}